# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.history/

# Ignore specific directories/files
.dccache
.safety-project.ini
/.dev/
/error.log
/GeoLite2 Databases/
/Session_Sniffer.exe
/Sessions Logging/
/Settings.ini
/UserIP Databases/
/UserIP_Logging.log
