/.devfolder
/.history
/.venv
/.vscode
/GeoLite2 Databases
/modules/**/__pycache__/
/Sessions Logging
/UserIP Databases
.dccache
*.pyc
debug.log
error.log
Session_Sniffer.exe
Settings.ini
UserIP_Logging.csv
UserIP_Logging.log
