[Desktop Entry]
Type=Application
Name=Session Sniffer
Comment=A packet sniffer for Peer-To-Peer network sessions
Exec=Session_Sniffer
Icon=sonar
Terminal=false
Categories=Network;Monitor;Security;
